iReserveWS/App_WebReferences/wsAuditTrailComplianceTool/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAuditTrail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addAuditTrailRequest" type="tns:AddAuditTrailRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddAuditTrailRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AuditTrail" type="tns:AuditTrail" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PassKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatabaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AuditTrail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IpAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrowserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrowserVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ActionDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionTaken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAuditTrailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAuditTrailResult" type="tns:AddAuditTrailResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddAuditTrailResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AuditTrail" type="tns:AuditTrail" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseStatus" type="tns:ResponseStatus" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LogId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Successful" />
          <s:enumeration value="Failed" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAuditTrailSoapIn">
    <wsdl:part name="parameters" element="tns:AddAuditTrail" />
  </wsdl:message>
  <wsdl:message name="AddAuditTrailSoapOut">
    <wsdl:part name="parameters" element="tns:AddAuditTrailResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddAuditTrail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds audit log to database.</wsdl:documentation>
      <wsdl:input message="tns:AddAuditTrailSoapIn" />
      <wsdl:output message="tns:AddAuditTrailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost" />
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAuditTrail">
      <soap:operation soapAction="http://tempuri.org/AddAuditTrail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAuditTrail">
      <soap12:operation soapAction="http://tempuri.org/AddAuditTrail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://ho-audittrailtool.pjlhuillier.sit/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://ho-audittrailtool.pjlhuillier.sit/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://ho-audittrailtool.pjlhuillier.sit/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>