iReserve/App_WebReferences/wsAACF/AACFws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.AACFws.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.AACFws.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.AACFws.com/">
      <s:element name="UserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAdd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserProfileResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirstLogon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Q1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Q2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Q3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="A1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="A2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="A3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirstLogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstLogonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PPASReliever">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RuserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RSystemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PPASRelieverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PPASRelieverResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PPASFirstLogon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PPASFirstLogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PPASFirstLogonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastLogRefNo">
        <s:complexType />
      </s:element>
      <s:element name="GetLastLogRefNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastLogRefNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteAuditLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNextRefNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAction" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValueBefore" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strValueAfter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteAuditLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteAuditLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTreasuryUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetTreasuryUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTreasuryUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="celNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpNoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpNoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpNoListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UserProfile" />
  </wsdl:message>
  <wsdl:message name="UserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="FirstLogonSoapIn">
    <wsdl:part name="parameters" element="tns:FirstLogon" />
  </wsdl:message>
  <wsdl:message name="FirstLogonSoapOut">
    <wsdl:part name="parameters" element="tns:FirstLogonResponse" />
  </wsdl:message>
  <wsdl:message name="PPASRelieverSoapIn">
    <wsdl:part name="parameters" element="tns:PPASReliever" />
  </wsdl:message>
  <wsdl:message name="PPASRelieverSoapOut">
    <wsdl:part name="parameters" element="tns:PPASRelieverResponse" />
  </wsdl:message>
  <wsdl:message name="PPASFirstLogonSoapIn">
    <wsdl:part name="parameters" element="tns:PPASFirstLogon" />
  </wsdl:message>
  <wsdl:message name="PPASFirstLogonSoapOut">
    <wsdl:part name="parameters" element="tns:PPASFirstLogonResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastLogRefNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastLogRefNo" />
  </wsdl:message>
  <wsdl:message name="GetLastLogRefNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastLogRefNoResponse" />
  </wsdl:message>
  <wsdl:message name="WriteAuditLogSoapIn">
    <wsdl:part name="parameters" element="tns:WriteAuditLog" />
  </wsdl:message>
  <wsdl:message name="WriteAuditLogSoapOut">
    <wsdl:part name="parameters" element="tns:WriteAuditLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetTreasuryUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetTreasuryUsers" />
  </wsdl:message>
  <wsdl:message name="GetTreasuryUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetTreasuryUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpNo" />
  </wsdl:message>
  <wsdl:message name="GetEmpNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpNoListSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpNoList" />
  </wsdl:message>
  <wsdl:message name="GetEmpNoListSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpNoListResponse" />
  </wsdl:message>
  <wsdl:portType name="AACFwsSoap">
    <wsdl:operation name="UserProfile">
      <wsdl:input message="tns:UserProfileSoapIn" />
      <wsdl:output message="tns:UserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FirstLogon">
      <wsdl:input message="tns:FirstLogonSoapIn" />
      <wsdl:output message="tns:FirstLogonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PPASReliever">
      <wsdl:input message="tns:PPASRelieverSoapIn" />
      <wsdl:output message="tns:PPASRelieverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PPASFirstLogon">
      <wsdl:input message="tns:PPASFirstLogonSoapIn" />
      <wsdl:output message="tns:PPASFirstLogonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastLogRefNo">
      <wsdl:input message="tns:GetLastLogRefNoSoapIn" />
      <wsdl:output message="tns:GetLastLogRefNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteAuditLog">
      <wsdl:input message="tns:WriteAuditLogSoapIn" />
      <wsdl:output message="tns:WriteAuditLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTreasuryUsers">
      <wsdl:input message="tns:GetTreasuryUsersSoapIn" />
      <wsdl:output message="tns:GetTreasuryUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpNo">
      <wsdl:input message="tns:GetEmpNoSoapIn" />
      <wsdl:output message="tns:GetEmpNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpNoList">
      <wsdl:input message="tns:GetEmpNoListSoapIn" />
      <wsdl:output message="tns:GetEmpNoListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AACFwsSoap" type="tns:AACFwsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserProfile">
      <soap:operation soapAction="http://www.AACFws.com/UserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://www.AACFws.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirstLogon">
      <soap:operation soapAction="http://www.AACFws.com/FirstLogon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PPASReliever">
      <soap:operation soapAction="http://www.AACFws.com/PPASReliever" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PPASFirstLogon">
      <soap:operation soapAction="http://www.AACFws.com/PPASFirstLogon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastLogRefNo">
      <soap:operation soapAction="http://www.AACFws.com/GetLastLogRefNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteAuditLog">
      <soap:operation soapAction="http://www.AACFws.com/WriteAuditLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreasuryUsers">
      <soap:operation soapAction="http://www.AACFws.com/GetTreasuryUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpNo">
      <soap:operation soapAction="http://www.AACFws.com/GetEmpNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpNoList">
      <soap:operation soapAction="http://www.AACFws.com/GetEmpNoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AACFwsSoap12" type="tns:AACFwsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserProfile">
      <soap12:operation soapAction="http://www.AACFws.com/UserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://www.AACFws.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirstLogon">
      <soap12:operation soapAction="http://www.AACFws.com/FirstLogon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PPASReliever">
      <soap12:operation soapAction="http://www.AACFws.com/PPASReliever" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PPASFirstLogon">
      <soap12:operation soapAction="http://www.AACFws.com/PPASFirstLogon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastLogRefNo">
      <soap12:operation soapAction="http://www.AACFws.com/GetLastLogRefNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteAuditLog">
      <soap12:operation soapAction="http://www.AACFws.com/WriteAuditLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreasuryUsers">
      <soap12:operation soapAction="http://www.AACFws.com/GetTreasuryUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpNo">
      <soap12:operation soapAction="http://www.AACFws.com/GetEmpNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpNoList">
      <soap12:operation soapAction="http://www.AACFws.com/GetEmpNoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AACFws">
    <wsdl:port name="AACFwsSoap" binding="tns:AACFwsSoap">
      <soap:address location="http://ho-aacfws.pjlhuillier.st/AACFws.asmx" />
    </wsdl:port>
    <wsdl:port name="AACFwsSoap12" binding="tns:AACFwsSoap12">
      <soap12:address location="http://ho-aacfws.pjlhuillier.st/AACFws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>